{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Ajouter un produit</h1>
    <div class="col-md-8">
        {{ include('produits/_form.html.twig') }}<br>
        <a href="{{ path('produits_index') }}" class="btn btn-danger pull-right">Annuler</span></a>
    </div>
</div> 
{% endblock %}
