{% extends 'base.html.twig' %}

{% block title %}Modifier la categorie{% endblock %}

{% block body %}
    <div class="container ">
        <h1 class="text-center">Modifier la categorie N°{{category.id}}</h1><br>
        <div class="col-md-10">
            {{ include('categories/_form.html.twig',  {'button_label': 'Modifier', class:"btn"}) }} <br>
            <a href="{{ path('categories_index') }}" class="btn btn-danger">Annuler</a>
        </div>
    </div>
{% endblock %}
