{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}


<div class="container">
    <h2 class="text-center">À propos de Nous</h2><br>
    <hr><br>
    <div class="col-md-10">
        <p class=>Nous sommes <b>Mohamed ali Mrad </b>et<b> Chawki Ghannoudi</b> deux étudiants en Informatique de gestion branche (BIS) à <b>ISGG</b>. <br>
            Dans le cadre d'un test d'evaluation pour la matière de Programmation Web II, on a essayé de créer une simple Application web dinamique <b>"</b> <a title="Cliquer pour aller à la page d'accueil" href="/">Système de gestion d'une entreprise (SGE)</a> <b>"</b> 
                en utilisant les langages HTML5, CSS3, Bootstrap 4, Javascript, jQuery et Symfony 4 (FrameWork PHP).
        </p>
    </div>
</div>
{% endblock %}
